<html>
    <header>
        <title>silex-basic-project</title>
    </header>

    <body>
        <div>
            <h1>Navegação</h1>
            <hr>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
